*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    height:100vh;
    width:100vw;
    justify-content: center;
    align-items: center;
    background:url("./assets/7970721_3820574.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.password{
    opacity: 0.9;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 12px;
}
.password h2{
    margin-bottom: 20px;
    text-align: center;
    color: rgb(13, 121, 253);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;


}
.input,.checkbox,.generate{
    margin-bottom: 15px;
}
.checkbox{
    display: flex;
    align-items: center;
}
.checkbox input{
    margin-right: 7px;
}
.input label{
    display: block;
    font-weight: bolder;
    margin-bottom: 12px;
}
.input input{
    width: 100%;
    padding: 12px;
    border:1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.gpass{
    padding: 10px 20px;
    background-color: rgb(13, 121, 253);
    color:#fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}
.gpass:hover{
    background-color: blue;
}

.generate{
    margin-top: 10px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 7px;
    overflow: hidden;
}
.generate input{
    border: none;
    flex: 1;
    padding: 10px;
    outline: none;
}
.copy{
    border: none;
    padding: 10px;
    background-color: green;
    color:#fff;

}
.copy:hover{
    background-color: rgb(40, 185, 40);
}












